*, *::before *::after{
  box-sizing: border-box;
}
html,body{
 height: 100%;
}
body{ 
  font-family: sans-serif;
  margin: 0;
}


#app{
  display: grid;
  grid-template-columns: 16rem 1fr;
  grip-template-rows: max-content;
  height: 100%;
}

.title { 
  position: fixed;
  left: 0;
  right: 0;
  grid-column: 1/ span 2;
  text-align: center;
  font-weight: bold;
  padding: 1em 3em;
  color: white;
  background-color: black;
}

.info{
  font-weight: normal;
  opacity: 0.3;
}
.display-board{
  font-family: serif;
  font-weight: 700;
  font-size: 2em;
  color: white;
  background-color: green;
  border-radius: 4px;
  padding: 0.5em 1em;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 2em;; 
}

.cats, .sidebar{
  display: flex; 
  justify-content: center;
  overflow: scroll;
}

.cats{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
} 

.sidebar{
  flex-direction: column;
  color: white;
  background-color: green;
}
.sidebar-link{
  cursor: pointer;
  opacity: 0.6;
  text-align: right;
  padding:0.5em 2.5em;
  user-select: none;
}

.sidebar-link-active{
  opacity: 1;
  font-weight: bold;
 }
.sidebar-link:hover{
  opacity: 1;
 }
.cat-name{
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
 }
.cat-container{
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 20rem;
  border: solid 5px grey;
  border-radius: 50%;
  overflow: hidden;
}
.cat-container:active{
  border: solid 5px green;
}


.cat-image{
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
